---
name: "Planned heating with Tado°"
description: "Continuously sets tado° heating shedules according to ChurchTools resource bookings."
version: "0.5.7"
slug: "planned_heating"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
options:
  polling_minutes: 15
  full_update_on_first_run: true
  schedules:
    - name: "Office Room Schedule"
      start: "06:00:00"
      end: "20:00:00"
      days_of_week: Mon-Thu,Sat
  ical_calendars:
    - name: "Meeting Room Bookings"
      source: "https://example.com/ical/metering_room_bookings.ics"
  churchtools: {}
  heating:
    cold: 17.0
    warm: 20
    earlystart: "00:30:00"
  assignments:
    - tadozone: "Office Room"
      calendar_names:
        - "Office Room Schedule"
    - tadozone: "Meeting Room"
      calendar_names:
        - "Meeting Room Bookings"
schema:
  polling_minutes: "int(1,1440)"
  full_update_on_first_run: bool
  schedules:
    - name: str?
      start: "match(^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$)?"
      end: "match(^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$)?"
      days_of_week: "match(^((Mon|Tue|Wed|Thu|Fri|Sat|Sun)(-(Mon|Tue|Wed|Thu|Fri|Sat|Sun))?(,(Mon|Tue|Wed|Thu|Fri|Sat|Sun)(-(Mon|Tue|Wed|Thu|Fri|Sat|Sun))?)*)$)?"
  ical_calendars:
    - name: str?
      source: url?
  churchtools:
    url: url?
    username: email?
    password: password?
  heating:
    cold: "float(0.0,25.0)?"
    warm: "float(0.0,25.0)?"
    earlystart: "match(^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$)?"
  assignments:
    - tadozone: str
      cold: "float(0.0,25.0)?"
      warm: "float(0.0,25.0)?"
      earlystart: "match(^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$)?"
      calendar_names:
        - str
startup: services
ports:
  8000/tcp: 8000
